html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background-color: darkgray;
  transition: ease 1s;
}


html::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: yellow;
}